<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- <h2>Hello, <%= user.userName %> </h2> -->
    <h1>Tasks</h1>
<ul class="todo-list">
<% todos.forEach(el => { %>
  <li class="todo-item" data-id="<%= el._id %>">
    <span class="<%= el.completed === true ? 'completed' : 'not' %>"><%= el.todo %></span>
    <span class="delete-button">Delete</span>
  </li>
<% }) %>    
</ul>

<h2><%= user.userName %> has <%= left %> things left to do.</h2>

<form action="/todos/createTodo" method="POST" class="todo-form">
  <input type="text" placeholder="Enter Todo Item" name="todoItem" class="todo-input">
  <input type="submit" class="submit-button">
</form>

<a href="/logout" class="logout-button">Logout</a>

    <script src="js/main.js"></script>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->